@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #b13f1f;
}

li, a, button {
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: beige;
    text-decoration: none;
} 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #2bb376;
}

button {
    padding: 9px 25px;
    background-color: rgb(15, 169, 156);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
#container {
    color: beige;
}

.addFruit {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2px 2%;
  

}
.addFruit h1 img {
    display: inline-block;
  

}

.input-container {
    color: bisque;
}
/* ar {
    display: flex;
    flex-wrap: nowrap;
    max-width: 200px;
    justify-content: space-between;
}

.input-container{
    margin: 12px;
} */